---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<div class="container mx-auto py-5">
  <h1 class="text-xl font-bold">
    Posts tagged with "{{ tag }}"
  </h1>

  <p class="mt-4">
    See <a href="{{ '/tags/' | url }}">all tags</a>.
  </p>
</div>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
