<div class="bg-primary-100 p-4 pb-10">
  {% if postheading %}
    <div class="container mx-auto">
      <h2 class="text-xl ml-2 mb-2">
        {{ postheading }}
      </h2>
    </div>
  {% endif %}
  <div class="container mx-auto grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
    {% for post in postslist | reverse %}
      <article href="{{ post.url | url }}" class="post-article relative block w-full mx-auto px-4 py-4 bg-white shadow-lg rounded-lg">
        <a href="{{ post.url | url }}">
          <div class="py-2 flex flex-row items-center justify-between">
            <div class="flex flex-row items-center">
              <div class="flex flex-row items-center focus:outline-none focus:shadow-outline rounded-lg">
                <p class="ml-2 text-base font-medium">{{ post.data.title }}</p>
              </div>
            </div>
            <div class="flex flex-row items-center">
              <p class="text-xs font-semibold text-gray-500">{{ post.date | htmlDateString }}</p>
            </div>
          </div>
          <div class="mt-2">
            <img class="object-cover w-full h-64 rounded-lg" src="{{ post.data.heroImage }}" alt="">
          </div>
          <div class="py-2 mt-2">
            <p class="leading-snug">
              {{ post.data.description }}
            </p>
          </div>
        </a>
      </article>
    {% endfor %}
  </div>
</div>